<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/Bootstrap.php"
        colors="true"
        verbose="true"
        backupGlobals="false"
        stopOnFailure="false">`
    <testsuites>
        <testsuite name="RedisClient">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="junit" target="../build/logs/junit.xml"/>
        <log type="json" target="../build/logs/phpunit.json" logIncompleteSkipped="true" />
        <log type="coverage-clover" target="../build/logs/clover.xml"/>
        <log type="coverage-html" target="../build/coverage"
             title="Code coverage for Redis Client"
             charset="UTF-8" yui="true" highlight="true"/>
    </logging>
    <filter>
        <whitelist>
            <directory suffix=".php">./../module/</directory>
        </whitelist>
    </filter>
</phpunit>
